[submodule "vendor/plugins/redmine_backlogs"]
	path = vendor/plugins/redmine_backlogs
	url = git@github.com:aya/redmine_backlogs.git
[submodule "vendor/plugins/redmine_advanced_issues"]
	path = vendor/plugins/redmine_advanced_issues
	url = git@github.com:aya/redmine_advanced_issues.git
